.banner-homepage img{
    width: 100%;
}
.banner-text {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.banner-text h1{
    font-size: 48px;
}
.banner-text p{
    font-size: 20px;
    width: 600px;
}