.banner-homepage img{
    width: 100%;
}
.banner-text {
    position: absolute;
    top: 37%;
    left: 35%;
    transform: translate(-50%, -50%); 
}
.banner-text h1{
    font-size: 48px;
    
}
.banner-text p{
    margin-top: 25px;
    line-height: 1.5;
    font-size: 20px;
    width: 600px;
}