
.first{
  border: 1px solid #FF6B00;
}
.second{
  border: 1px solid #E30029;
}
.third{
  border: 1px solid #FFD300;
}
.four{
  border: 1px solid #C2D500;
}
.five{
  border: 1px solid #008FBE;
}
.first:hover{
  background-color:  #FF6B00;
}
.second:hover{
  background-color:  #E30029;
}
.third:hover{
  background-color:  #FFD300;
}
.four:hover{
  background-color:  #C2D500;
}
.five:hover{
  background-color:  #008FBE;
}

.layout-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

.layout-content {
  flex: 1; 
  
}
.layout-content h1{
  margin-bottom: 15px;
  font-size: 40px;
}

.layout-image {
  max-width: 100%;
  margin-top: 15px;
}


.layout1 {
  flex-direction: row;
 height:440px;
}

.layout2,
.layout3 {
  flex-direction: row-reverse;
}

.layout1 .layout-content{
  position: relative;
  left: 19%;
  bottom: 300px;
  width: 300px;
  line-height: 1;


}




.layout2 .layout-content{
  position: absolute;
width:500px;
height:445px;
top: 127%;
left: 27%;
background-color: white;

}




@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  
  .layout1 {
    flex-direction: column; 
  }
  
  .layout2,
  .layout3 {
    flex-direction: column-reverse; 
  }
}