
.first{
  border: 1px solid #FF6B00;
  margin-top: 35px;
}
.second{
  border: 1px solid #E30029;
  margin-top: 35px;
}
.third{
  border: 1px solid #FFD300;
  margin-top: 35px;
}
.four{
  border: 1px solid #C2D500; 
  margin-top: 35px;
}
.five{
  border: 1px solid #008FBE;
  margin-top: 35px;
}
.first:hover{
  background-color:  #FF6B00;
}
.second:hover{
  background-color:  #E30029;
}
.third:hover{
  background-color:  #FFD300;
}
.four:hover{
  background-color:  #C2D500;
}
.five:hover{
  background-color:  #008FBE;
}

.layout {
  position: relative; /* Set position relative for stacking context */
  width: 100%;
  margin-bottom: 15px; /* Space between sections */
  overflow: hidden; /* Clears floats inside */
}

.layout1, .layout2, .layout3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative; /* Ensure stacking order works */
}

.layout-content1,.layout-content2,.layout-content3 {
  background-color: white; /* White background with some transparency */
 
  height: 100%;
  width: 80%; /* Adjust width as needed */
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Center the content */
  z-index: 1; /* Place content above the image */
  text-align: left; /* Center text */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.layout-content1 {
  padding: 75px 166px 90px 760px;
  width: 60%;
  left: 10%;
  height: 101%;
}

.layout-content2 {
  padding: 75px 225px 100px 700px;
  width: 70%;
  left: 18%;
  height: 101%;
}

.layout-content3 {
  padding: 100px 176px 117px 1140px;
  width: 87%;
  left: 3%;
  height: 101%;
}

.layout-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0; /* Place image behind content */
}