*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white{
color:white;


}
.white img{
  margin-top: 69px;
  margin-bottom: 12px;
}
.white button {
  position: absolute;
  top: 48.5%;
  left: 19%;
  color: white;
}
.white button:hover{
  background-color:#FF6B00 ;
  border: none;
  color:black;
}