*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white{
color:white;


}
.white img{
  margin-top: 69px;
  margin-bottom: 12px;
}
.white button {
  position: absolute;
  top: 48.5%;
  left: 19%;
  color: white;
}
.white button:hover{
  background-color:#FF6B00 ;
  border: none;
  color:black;
}
.white p{
  font-weight: 400;
}
.gradient1{
  position: absolute;
  
  top: 0;
  width: 10px;

  height: 100%;
  background: linear-gradient(180deg, #FF6B00, #FF6B00);
  margin-right: 19%;
}
.gradient2{
  position: absolute;
  background: linear-gradient(180deg, #E30029, #E30029);
  top: 0;
  width: 19px;

  height: 100%;
  margin-left: 6%;
}

.gradient3{
  position: absolute;
  background: linear-gradient(180deg, #FFD300, #FFD300);
  top: 0;
  width: 19px;

  height: 100%;
  margin-right: 7%;
}

.gradient4{
  position: absolute;
  background: linear-gradient(180deg, #C2D500, #C2D500);
  top: 0;
  width: 20px;

  height: 100%;
  margin-right: 20%;
}

.gradient5{
  position: absolute;
  background: linear-gradient(180deg, #008FBE, #008FBE);
  top: 0;
  width: 19px;

  height: 100%;
  margin-left: 6%;
}


@media (max-width: 768px) {
  .white button {
    position: static;
    color: black;
    border-color: #FF6B00;
    transform: none;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}