*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white{
color:white;
}

.white button {
  position: absolute;
  top: 50%;
  left: 10%;
}
.white button:hover{
  background-color:#FF6B00 ;
  border: none;
  color:black;
}
